*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
  font-family: 'Kavivanar', cursive;
  background:radial-gradient( white,grey);
    
    
}

.wrapper
{
  font-family: 'Kavivanar', cursive;
  margin: 0px auto; 
  width:290px;
  height:400px;  
  background-color: antiquewhite;
  border: 4px solid #890a3e;
  border-radius: 10px;
   
}

.header
{
    
    border-radius:2px;
    width:100%;
    text-align: center;   
    
}

span
{
   padding: 10px;
   border-bottom: 3px dashed black;
   display: block;
     
}

input[type="checkbox"]
{
   
    position: relative;
    top:18px;
    right: 14px;
    float:right;
    
}

input[type="checkbox"]:checked + label
{
    text-decoration: line-through
}

li
{
   list-style: none; 
}

label
{
    width: 100%;
    padding: 4px;
    float: left;
    
}

.grey
{
    background-color:#BEB1B3;
    
}